body {
    margin: 0;
}

#timer-container {
    height: 100px;
    border: 1px solid lightgray;
}

#start-button, #reset-button {
    height: 30px;
    width: 60px;
    cursor: pointer;
    margin-top: 10px;
}

.time-container {
    height: 40px;
    width: 70px;
    border: 1px solid lightgray;
    font-size: 30px;
    display: inline-block;
}